body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F8EFEF;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 610px;
    height: 708px;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

h1 {
    font-family: 'Rokkitt', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #161843;
    margin: 64px 0px 15px 89px;
}

p {
    width: 339px;
    height: 47px;
    font-family:'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #161843;
    margin: 0px 0px 52px 90px;
}

input {
    width: 430px;
    height: 73px;
    border: 1px solid #CAD6E4;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 0px 16px 90px;
}

input::placeholder {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #717A91;
}

.forgot-btn {
    display: flex;
}

.forgot-btn .btn {
    display: flex;
    width: 157px;
    height: 73px;
    background: #046586;
    border-radius: 5px;
    margin: 0px 90px 55px 0px;
}

.forgot-btn p {
    font-size: 16px;
    line-height: 20px;
    color: #0C6787;
    margin: 30px 0px 0px 90px;
}

.forgot-btn .btn p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 25px 14px 25px 35px;
}

.forgot-btn .btn img {
    margin: 21px 35px 20px 0px;
}

#retangulo {
    width: 430px;
    height: 0px;
    border: 1px solid #CAD6E4;
    margin: 0px 90px 35px 90px;
    color: #F8EFEF
}

.txt p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #838A9E; 
    margin: 35px 262px 0px 261px;
}

.botoes {
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin: 0px 0px 0px 0px;
}

.botoes p{
    margin: 17px 0px 17px 0px;
}

.botoes .btn1 {
    display: flex;
    width: 207px;
    height: 55px;   
    border: 1px solid #CAD6E4;
    box-sizing: border-box;
    border-radius: 5px; 
    margin-right: 16px;
}

.botoes .btn1 img {
    margin: 10px 11px 10px 45px;
}

.botoes .btn2 {
    display: flex;
    width: 207px;
    height: 55px;
    border: 1px solid #CAD6E4;
    box-sizing: border-box;
    border-radius: 5px;
}

.botoes .btn2 img {
    margin: 10px 11px 10px 45px;
}

.footer {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 60px 192px 56px 190px;
    width: 228px;
    height: 18px;
}

.footer a {
    font-style: normal;
    font-weight: normal;
    text-decoration-line: underline;
    color: #046586;
}

.footer p {
    margin: auto;
    font-size: 14px;
    line-height: 18px;

}